.galleryBackground {
    background-color: lightblue;
    border: solid;
    width: 50%;
    padding: 10px;
}

img {
    margin: 5px;
}

.dogSummary {
    display: inline;
    text-align: center;
    position: relative;
    left: 50px;
    bottom: 90px;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline;
    padding: 30px;
}

.homeSection {
    margin-bottom: 50px;
}

.videoSection {
    margin: 50px;
}

h3 {
    position: relative;
    left: 150px;
}
input {
    padding: 10px;
}

.formInputs {
    margin: 20px;
}

#contact {
    border: solid;
}